@model List<real_time_chat_luka_marinkovic.Models.Message>
@{
    var trenutniKorisnikId = ViewBag.trenutniKorisnikId as string;
    var drugiKorisnik = ViewBag.drugiKorisnik;
    ViewData["Title"] = "Chat";
}
<div class="container d-flex flex-column">
    <h2>Razgovor sa korisnikom: @ViewBag.drugiKorisnik.DisplayName</h2>

    <div class="d-flex flex-column justify-content-center">

        <div id="messages" class="mb-3">
            @foreach (var msg in Model)
            {
                <div class="message">
                    <strong>@(msg.SenderId == ViewBag.trenutniKorisnikId ? "Ti" : ViewBag.drugiKorisnik.DisplayName):</strong> @msg.Content
                </div>
            }
        </div>

        <div class="d-flex flex-column gap-2">
            <input type="text" id="messageInput" placeholder="Unesite poruku"/>
            <button id="sendBtn" class="btn btn-primary">Posalji</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chathub")
            .build();

        connection.on("ReceiveMessage", function (senderId, content) {
            const div = document.createElement("div");
            let label = senderId === "@trenutniKorisnikId" ? "Ti" : "@drugiKorisnik.DisplayName";
            div.innerHTML = "<strong>" + label + ":</strong> " + content;
            document.getElementById("messages").appendChild(div);
        });

        connection.start().then(function () {
            document.getElementById("sendBtn").addEventListener("click", function () {
                const message = document.getElementById("messageInput").value;
                const senderId = "@trenutniKorisnikId";
                const receiverId = "@drugiKorisnik.Id";

                if (message.trim() !== "") {
                    connection.invoke("SendMessage", senderId, receiverId, message).catch(function (err) {
                        console.error(err.toString());
                    });

                    console.log('radi?');

                    document.getElementById("messageInput").value = '';
                }
            });
        }).catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}
